# Class

In [1]:
import numpy as np
import pandas as pd

In [21]:
ids = np.array(range(5))
alp = ['a', 'b', 'c', 'd', 'e']
data = {'num':ids, 'char':alp}
df = pd.DataFrame(data)
df

   num char
0    0    a
1    1    b
2    2    c
3    3    d
4    4    e

In [32]:
df.names

AttributeError: 'DataFrame' object has no attribute 'names'

In [44]:
class MyDataFrame(pd.DataFrame):
    def __init__(self, data):
        self.keys = data.keys()
        super().__init__(data)
        

mydf = MyDataFrame(data)
mydf

   num char
0    0    a
1    1    b
2    2    c
3    3    d
4    4    e

In [47]:
mydf.keys

dict_keys(['num', 'char'])

In [48]:
mydf.shape

(5, 2)

## isinstance

In [50]:
class MyBase(object):
    pass

class MySbuClass(MyBase):
    pass

obj = MySbuClass()

isinstance(obj, MyBase), isinstance(obj, MySbuClass)

(True, True)

## call base methods

In [65]:
class MyClass1:
    def __init__(self):
        self.pro1 = 'abcd'
    def repeat_3_times(self, val:str):
        return val * 3
        
    def repeat_6_times(self, val:str):
        return val * 6

foo = MyClass1()
print(getattr(foo, 'pro1'))        
getattr(foo, 'repeat_3_times')('a')

abcd

'aaa'

'aaaaaaaaaaaaaaa'